@import "./utilities/variables";
@import "./utilities/extends";
@import "./utilities/_mixins.scss";

@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

@import "./mq/mq";



* {
    font-family: "Alumni Sans SC", sans-serif;
}


h1 {

    color: $colorBlanco;
    font-size: 9rem;
    text-align: center;
}
    
p {

    font-size: 19px;
}


